* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/* Root */
:root {
  --light-grey: #2B2B2B;
  --off-black: #191A18;
  --pastel-orange: #EB9947;
  --strong-orange: #E17000;
  --white: #fff;
}

/* !!DO NOT USE!! */
main {
  height: 90vh;
  background-color: var(--light-grey)
}

/* Reusable Styles */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color:  #fff;
}

/* Background */
.bg-off-black {
  background-color: var(--off-black);
}

.bg-light-grey {
  background-color: var(--light-grey);
}

.mgb-20 {
  margin-bottom: 20px;
}

.mgb-10 {
  margin-bottom: 10px;
}

.mgb-5 {
  margin-bottom: 5px
}

/* Text */
.text-upper {
  text-transform: uppercase;
}

/* Text Colours */
.pastel-accent-clr {
  color: var(--pastel-orange)
}

.strong-orange {
  color: var(--strong-orange)
}

/* Formatting */
.flex {
  display: flex;
}

/* Logo */

.logo {
  font-weight: 600;
  letter-spacing: .2rem;
}

.sub-heading {
  font-size: .8rem;
}