* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/*
====================== 
  Root 
======================
*/
:root {
  --light-grey: #2B2B2B;
  --off-black: #191A18;
  --pastel-orange: #EB9947;
  --strong-orange: #E17000;
  --white: #fff;
}


/*
===============================
  Reusable Styles 
================================
*/
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  letter-spacing: 0.1rem;
}

p, a, h1, h2, h3, span {
  color:var(--white)
}

h1, h2, h3 {
  font-weight: 600;
}

section {
  position: relative
}

/*
===============================
  Containers 
================================
*/

.inner-container {

}

.section-heading {
  text-align: center;
}

.page-section {
  position: relative;
  padding: 50px 25px;
}

.showcase {
  height: 100vh;
  background-color: var(--off-black); /* Just incase photo does not load*/
  position: relative;
}

.background-image-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
}

/*
====================================
  Background 
====================================
*/
.bg-off-black {
  background-color: var(--off-black);
}

.bg-light-grey {
  background-color: var(--light-grey);
}

.bg-strong-orange {
  background-color: var(--strong-orange);
}


/* 
================================
  Margin
================================
*/
.mgb-large {
  margin-bottom: 40px;
}

.mgb-10 {
  margin-bottom: 10px;
}

.mgb-5 {
  margin-bottom: 5px
}

/* 
=========================
  Text
=========================
*/
.text-upper {
  text-transform: uppercase;
}

.pastel-accent-clr {
  color: var(--pastel-orange)
}

.strong-orange {
  color: var(--strong-orange)
}

.text-center, .footer-section-header, .section-text-block {
  text-align: center;
}

/*
======================= 
  Formatting 
======================
*/
.flex {
  display: flex;
}

.central-content {
  height: 100%
}

#site-header .inner-container, #site-footer .inner-container, .footer-links__section, .footer-navigation-list, #film-tiles .inner-container, .central-content, .buttons-container {
  justify-content: center;
  align-items: center;
}

#site-footer .inner-container, .footer-links, .footer-navigation-list, #film-tiles .inner-container, #marketing-section .inner-container {
  flex-direction: column;
}

/*
=======================
  Headings
======================
*/

.logo {
  font-weight: 600;
  letter-spacing: .2rem;
}

.sub-heading {
  letter-spacing: 0.1rem;
}

.sub-heading, .copyright-statement {
  font-size: .8rem;
}

.inner-container {
  max-width: 1200px;
  margin: auto;
}

.heading-primary {
  font-size: 2.25rem;
}

.heading-secondary {
  font-size: 2rem;
}

/* 
==========================
  Button
=========================
*/

.btn {
  padding: 10px;
  border: var(--white) 1px solid;
  border-radius: 5px
}

/* 
===========================================
===========================================
  Page Specific Content
===========================================
===========================================
*/

/* 
===============================
  Header
===============================

*/

nav {
  display: none;
}

#site-header, #site-footer {
  padding: 25px;
}

.nav-link {
  letter-spacing: 0.15rem;
}




/* 
====================================
  Index Page
====================================
*/

#index-showcase {
  background-image: url('/assets/images/james-bond.jpg');
  background-position: center;
  object-fit: contain;
}

/* 
====================================
  Marketing Block
====================================
*/

.camera-operator-illustration {
  width: 80%;
  height: auto;
}

/* 
  ======================
  Film Tile Block 
  ======================
*/

.film-tiles-block {
  position: relative;
  height: 300px;
}
.film-tile__container {
  position: absolute;
  transform: translateX(-50%);
}
.film-tile__container img {
  width: 200px;
  height: auto;
}


/* 
===========================================
===========================================
  MEDIA QUERY 778px
===========================================
===========================================
*/

@media only screen and (min-width: 768px) {

  /* 
  =============================
  Formatting 
  =============================
  */

  .buttons-container {
    justify-content: unset;
    align-items: unset;
  }

  /* 
  ========================
    Containers 
  ========================
  */

  .page-section {
    padding: 50px 
  }

  /* 
  =========================
    Text
  =========================
  */

  p {
    font-size: 1.7rem
  }
  
  .btn {
    font-size: 1.4rem;
  }
  

  .heading-primary {
    font-size: 3.5rem;
  }

  .heading-secondary {
    font-size: 3rem
  }

  .section-heading, .section-text-block, .btn {
    text-align: unset;
  }

  .sub-heading {
    font-size: 1.5rem;
  }

  .footer-navigation-list li {
    font-size: 1.2rem;
  }

  /* 
   =======================
    Header 
   =======================
  */

  #site-header {
    padding: 30px 35px;
  }

  nav {
    display: block;
  }

  .nav-link {
    margin-left: 15px;
  }

  #mobile-hamburger-menu {
    display: none;
  }

  #site-header .inner-container{
    justify-content: space-between;
  }

  /* 
   ======================
   Footer 
   ======================
  */

  #site-footer {
    padding: 50px 40px;
  }

  #site-footer .inner-container {
    max-width: 800px;
  }

  .footer-links {
    flex-direction: row;
    justify-content: space-around;
    align-items: unset;
    width: 100%;
  }

  .footer-links__section {
    justify-content: unset;
  }

  .footer-section-header {
    text-align: left;
  }


  /* 
  ======================
  Film Tile Block 
  ======================
*/

.film-tiles-block {
  height: unset;
  gap: 70px;
}
.film-tile__container {
  position: unset;
  transform: unset;
}
.film-tile__container img {
  width: 270px;
}

  .film-tile__container:nth-child(even) {
    display: none;
  }

  /* 
    ========================
    Marketing Section
    ========================
  */

  
.camera-operator-illustration {
  display: none;
}



} 



/* 
===========================================
===========================================
  MEDIA QUERY 1024px
===========================================
===========================================
*/

@media only screen and (min-width:1024px) {
  /* 
    =======================
    Element Styling 
    =======================
  */

  p {
    font-size: 1.7rem
  }
  
  .btn {
    font-size: 1.4rem;
  }
  

  .heading-primary {
    font-size: 4rem;
  }

  .heading-secondary {
    font-size: 3rem
  }

  .section-heading, .section-text-block, .btn {
    text-align: unset;
  }

  .sub-heading {
    font-size: 1.5rem;
  }

  .footer-navigation-list li {
    font-size: 1.2rem;
  }

  a:hover {
    color: var(--pastel-orange);
    cursor: pointer;
    }

    section {
      overflow: hidden;
    }

  /* 
    =======================
    Container 
    =======================
  */

  .showcase {
    height: 60vh;
  }

  .inner-container, #site-footer .inner-container {
    max-width: 1700px;
  }

  /* 
  ============================
  Formatting
  ============================
  */

  #film-tiles .inner-container {
    justify-content: unset;
    align-items: unset;
  }

  #marketing-section .inner-container {
    flex-direction: row;
  }

   /* 
  ======================
  Film Tile Block 
  ======================
*/

.film-tiles-block {
  height: unset;
  gap: 70px;
}
.film-tile__container {
  
  width: 20%
}
.film-tile__container img {
  width: 100%;
  height: auto
}

  .film-tile__container:nth-child(even) {
    display: block;
  }

  /* 
    ========================
    Marketing Section
    ========================
  */

  .page-left {
    max-width: 700px
  }

  .page-right {
    position: relative;
    width: 30%;
  }

  #marketing-section .inner-container .page-right
  .camera-operator-illustration {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: auto;
  }

}

/* 
===========================================
===========================================
  MEDIA QUERY 1024px
===========================================
===========================================
*/

@media only screen and (min-width:1024px) {
  /* 
    =======================
    Element Styling 
    =======================
  */

  p {
    font-size: 2.7rem
  }

  .footer-link-heading {
    font-size: 1.8rem;
    letter-spacing: .3rem;
  }

  .logo, .nav-link {
    font-size: 1.5rem;
  }

  .nav-link {
    margin-left: 30px;
  }
  
  .btn {
    font-size: 1.6rem;
    padding: 10px 20px
  }

  .btn:hover {
    cursor:pointer;
    background-color: var(--pastel-orange);
  }

  .btn a:hover {
    color: var(--white)
  }
  

  .heading-primary {
    font-size: 6rem;
  }

  .heading-secondary {
    font-size: 5rem
  }

  .sub-heading {
    font-size: 2.5rem;
  }

  .footer-navigation-list li {
    font-size: 1.8rem;
  }

  .mgb-large {
    margin-bottom: 80px
  }

    /* 
    =========================
      Containers
    =========================    */

    .page-section {
      padding: 180px 100px
    }

    .page-left {
      max-width: 1000px;
    }

}