* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/*
====================== 
  Root 
======================
*/
:root {
  --light-grey: #2B2B2B;
  --off-black: #191A18;
  --pastel-orange: #EB9947;
  --strong-orange: #E17000;
  --white: #fff;
}


/*
===============================
  Reusable Styles 
================================
*/
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  letter-spacing: 0.1rem;
}

p, a, h1, h2, h3 {
  color:var(--white)
}

section {
  position: relative
}

/*
===============================
  Containers 
================================
*/

.inner-container {

}

.page-section {
  position: relative;
  padding: 50px 25px;
}

.showcase {
  height: 100vh;
  background-color: var(--off-black); /* Just incase photo does not load*/
  position: relative;
}

.background-image-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
}

/*
====================================
  Background 
====================================
*/
.bg-off-black {
  background-color: var(--off-black);
}

.bg-light-grey {
  background-color: var(--light-grey);
}

.mgb-20 {
  margin-bottom: 20px;
}

.mgb-10 {
  margin-bottom: 10px;
}

.mgb-5 {
  margin-bottom: 5px
}

/* 
=========================
  Text
=========================
*/
.text-upper {
  text-transform: uppercase;
}

.pastel-accent-clr {
  color: var(--pastel-orange)
}

.strong-orange {
  color: var(--strong-orange)
}

.text-center {
  text-align: center;
}

/*
======================= 
  Formatting 
======================
*/
.flex {
  display: flex;
}

.central-content {
  justify-content: center;
  align-items: center;
  height: 100%
}


/*
=======================
  Headings
======================
*/

.logo {
  font-weight: 600;
  letter-spacing: .2rem;
}

.sub-heading {
  letter-spacing: 0.1rem;
}

.sub-heading, .copyright-statement {
  font-size: .8rem;
}

.inner-container {
  max-width: 1200px;
  margin: auto;
}

/* 
===========================================
===========================================
  Page Specific Content
===========================================
===========================================
*/

#index-showcase {
  background-image: url('/assets/images/james-bond.jpg');
  background-position: center;
  object-fit: contain;
}


.heading-primary {
  font-size: 2rem;
}

/* 
===========================================
===========================================
  MEDIA QUERY 778px
===========================================
===========================================
*/

@media only screen and (min-width: 768px) {
  /* 
  =========================
    Text
  =========================
  */

  .heading-primary {
    font-size: 3rem;
  }

  .sub-heading {
    font-size: 1.5rem;
  }

  .footer-navigation-list li {
    font-size: 1.2rem;
  }

  /* 
   =======================
    Header 
   =======================
  */

  #site-header {
    padding: 30px 35px;
  }

  nav {
    display: block;
  }

  .nav-link {
    margin-left: 20px;
  }

  #mobile-hamburger-menu {
    display: none;
  }

  #site-header .inner-container{
    justify-content: space-between;
  }

  /* 
   ======================
   Footer 
   ======================
  */

  #site-footer {
    padding: 50px 40px;
  }

  #site-footer .inner-container {
    max-width: 800px;
  }

  .footer-links {
    flex-direction: row;
    justify-content: space-around;
    align-items: unset;
    width: 100%;
  }

  .footer-links__section {
    justify-content: unset;
    align-items: baseline;
  }

  .footer-section-header {
    text-align: left;
  }
}

/* 
===========================================
===========================================
  MEDIA QUERY 778px
===========================================
===========================================
*/

@media only screen and (min-width:1000px) {
  /* 
    =======================
    Element Styling 
    =======================
  */

  a:hover {
    color: var(--pastel-orange);
    cursor: pointer;
  }
}