nav {
  display: none;
}

#site-header {
  padding: 20px;
}

#site-header .inner-container, #site-footer .inner-container, .footer-links__section {
  justify-content: center;
  align-items: center;
}

#site-footer .inner-container, .footer-links{
  flex-direction: column;
}
